NEXT_PUBLIC_SUPABASE_URL=https://xfsrqomsiulswbalgknx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=https://xfsrqomsiulswbalgknx.supabase.co
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
LIVEKIT_URL=wss://rich-bizness-mobile-app-ww6cieid.livekit.cloud
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
APP_URL=https://rich-bizness.com
APP_NAME=Rich Bizness Universe
APP_ENVIRONMENT=production
